.card{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 200px;

}

.card_main {
    position: relative;
    margin: auto;
    width: 200px;
    height: 200px;
    display: inline-block;


}

.man>img{
    position: absolute;
    left: 0;
    margin: auto;
    width: 150px;
    height: 200px;

}
.home>img{
    position: absolute;
    left: 0;
    margin: auto;
    width: 290px;
    height: 190px;
}
.letter{
    position: absolute;
    right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
}